* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* auth */
.auth {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* page */
:root {
  --size: 120;
  --coefficient: 1px;
  --timeline: 2.6s;
  --delay: 0.65s;
  --rotation-y: -24;
  --rotation-x: 28;
  --color-one: #3a0ca3;
  --color-two: #4361ee;
  --color-three: #4cc9f0;

  --block-background: #555;
  --block-border: 1px solid #000;
  --block-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2) inset;
  --block-light-background: linear-gradient(
    to right,
    #2579ba 0%,
    #0089f2 26%,
    #214db2 50%,
    #010023 51%,
    #0d0e19 100%
  );
  --block-light-border: 5px solid;
}
